body {
    color: #fff;
    background: #1e1e1e;
    font-family: sans-serif;
    margin: 0;
    padding: 0.5rem;
}

header {
    padding: 10px 30px;
    background-color: #b74642;
    position: relative;
    border-radius: 8px 8px 0 0;
}
header .logo {
    width: 27rem;
    height: 9rem;
    background: url(assets/images/logo.svg) no-repeat;
}

@media (max-width: 768px) {
    header .logo {
        width: 13.5rem;
        height: 4.5rem;
        background: url(assets/images/logo.svg) no-repeat;
        background-size: contain;
    }
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
