@import './../../utils/variables.scss';

@mixin hover($colorHover) {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $colorHover;
    }
  }
  &:active {
    background-color: $colorHover;
  }
}

.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.03rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s;

  &:last-child {
    margin-right: 0rem;
  }

  &:disabled {
    background-color: var(--color-grey);
    pointer-events: none;
  }

  &_small {
    border-radius: 0.35rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: 0.75rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--color-blue-secondary);
      color: var(--color-white);
    }
  }
  &:active {
    background: var(--color-blue-secondary);
    color: var(--color-white);
  }

  &.active {
    background: var(--color-blue-secondary);
    color: var(--color-white);
  }

  &:disabled {
    background: none;
    border: solid 2px var(--color-grey);
    color: var(--color-grey);
    pointer-events: none;
  }
}
