.button_sort {
    display: flex;
    width: fit-content;
    background: url(./../../assets/images/sort-button-reverse.svg) no-repeat center;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    bottom: 112px;
}
@media (max-width: 360px) {
    .button_sort {
        position: static;
        right: auto;
        bottom: auto;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
}
.button_sort.reverse {
    background: url(./../../assets/images/sort-button.svg) no-repeat center;
    background-size: cover;
}
.button_sort:hover,
.button_sort:active {
    background: url(./../../assets/images/sort-button-hover.svg) no-repeat center;
    background-size: cover;
}
.button_sort.reverse:active {
    background: url(./../../assets/images/sort-button-reverse-hover.svg) no-repeat center;
    background-size: cover;
}
@media (hover: hover) and (pointer: fine) {
    .button_sort:hover,
    .button_sort:focus {
        background: url(./../../assets/images/sort-button-reverse-hover.svg) no-repeat center;
        background-size: cover;
    }
    .button_sort.reverse:hover,
    .button_sort.reverse:focus {
        background: url(./../../assets/images/sort-button-hover.svg) no-repeat center;
        background-size: cover;
    }
}
