@import './../../utils/variables.scss';

@mixin hover($colorHover) {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $colorHover;
    }
  }
  &:active {
    background-color: $colorHover;
  }
}

.button {
  background-color: var(--color-grey-light);
  color: var(--color-black);
  border: none;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  line-height: 100%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s;

  &:last-child {
    margin-right: 0rem;
  }

  &:disabled {
    background-color: var(--color-grey-light);
    pointer-events: none;
  }

  &_green {
    background-color: var(--color-green);
    @include hover(var(--color-green-secondary));
  }
  &_blue {
    background-color: var(--color-blue);
    @include hover(var(--color-blue-secondary));
  }

  &_red {
    background-color: var(--color-red);

    @include hover(var(--color-red-secondary));
  }
}
