:root {
  --color-bg-body: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-backdrop: rgba(64, 63, 61, 0.8);
  --color-border-light: #c1b6ad;
  --color-border-dark: #665f55;
  --color-text-dark: #403f3d;
  --color-text-light: #e1d4c9;
  --color-text-accent: #b0907a;
  --margin-section: 6.25rem;
}
@import url("https://fonts.cdnfonts.com/css/inter");
//@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@mixin transition($property) {
  transition: $property 0.3s ease-out;
}
@mixin bottom-line() {
  content: "";
  height: 0.125rem;
  background-color: var(--color-text-dark);
  display: block;
  @include transition(all);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg-body);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  padding: 1.25rem 2.5rem;
  .boby-wrapper {
    max-width: 85rem;
    margin: auto;
  }
}
h1 {
  color: var(--color-text-light);
  font-family: Inter;
  font-weight: 600;
  line-height: 105%;
  span {
    color: var(--color-text-accent);
    font-style: italic;
  }
}
h2 {
  font-size: 3.74rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 2.5rem;
  span {
    color: var(--color-text-accent);
    font-style: italic;
  }
}
p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.button {
  background: none;
  border: none;
  a {
    display: flex;
    padding: 1.25rem 4.875rem;
    max-height: calc(4rem - 2.5rem);
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    border: 1px solid var(--border-dark, #665f55);
    background-color: var(--color-bg-body);

    @include transition(all);
    &:hover {
      background-color: var(--color-bg-container);
      color: var(--color-text-light);
      svg {
        path {
          @include transition(all);
          fill: var(--color-text-light);
        }
      }
    }
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
nav {
  padding-bottom: 0.375rem;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      margin-right: 2.5rem;
      &:last-child {
        margin-right: 0rem;
      }
      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        &::after {
          @include bottom-line();
          width: 0;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
.header-menu-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.375rem;
  &::after {
    @include bottom-line();
    width: 0;
  }
  &:hover::after {
    width: 100%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    margin-right: 0.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
section {
  margin-bottom: 6.25rem;
}
.section_enjoy {
  background: url("../../images/home/img-hero.jpg") no-repeat center center;
  padding: 6.25rem;
  border-radius: 40px;
  &__wrapper {
    max-width: 33.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  h1 {
    font-size: 4.5rem;
    margin: 0;
  }
  p {
    color: var(--color-text-light);
  }
  .button {
    &__text {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
    &__icon {
      opacity: 0;
      width: 0px;
      height: 23px;
      display: block;
      @include transition(all);
    }
    a {
      width: calc(200px - 4.875rem * 2);
      border: none;
      &:hover {
        background-color: var(--color-bg-body);
        color: inherit;
        .button__icon {
          opacity: 1;
          width: 23px;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
.section_favorites-coffee {
  h2 {
    text-align: center;
  }
}
.section_mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.25rem;

  .buttons-row {
    display: flex;
    gap: 1.25rem;
    padding-top: 1.25rem;
    .button {
      a {
        padding: 1.25rem;
        width: 9.9rem;
        gap: 0.5rem;
        justify-content: flex-start;
      }
      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
        width: max-content;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        span {
          font-size: 0.625rem;
          line-height: 140%;
        }
      }
    }
  }
}
footer {
  margin-top: -3px; //для сходства с макетом
  background-color: var(--color-bg-container);
  border-radius: 2.5rem;
  padding: 6.25rem 6.25rem 5.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6.25rem;
  h2 {
    display: flex;
    flex-direction: column;
  }
  .section__collum {
    padding-right: 2.25rem;
  }
  .contacts {
    &__title {
      color: var(--color-text-light);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      margin-bottom: 2.5rem;
    }
    &__list {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: var(--color-text-light);
    }
  }
}
.social-links {
  &__list {
    display: flex;
    padding: 0;
    gap: 0.75rem;
  }
  &__item {
    a {
      display: flex;
      width: 3.65rem;
      height: 3.65rem;
      justify-content: center;
      align-items: center;
      border-radius: 6.25rem;
      border: 1px solid var(--color-border-light);
      @include transition(all);
      &:hover {
        background-color: var(--color-bg-body);
        path {
          stroke: var(--color-bg-container);
        }
      }
    }
  }
}
