.footer {
  width: 100%;
  background: var(--black);
  color: var(--gray-light);
  &__container {
    max-width: var(--container-width);
    margin: auto;
    padding: 1rem 2rem;
    text-align: right;
  }
}
