.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logotype {
    width: 12rem;
    height: 4rem;
    margin: 0;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__button-row {
    display: flex;
    align-items: center;
  }

  &__user {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
  }
}
