.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media (max-width: 680px) {
  }

  .logotype {
    width: 12rem;
    height: 4rem;
    margin: 0;

    @media (max-width: 680px) {
      width: 8rem;
      height: 2.75rem;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__button-row {
    display: flex;
    align-items: center;

    @media (max-width: 680px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__user {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;

    @media (max-width: 480px) {
      margin-left: 1rem;
      font-size: 1.125rem;
    }
  }
}
