@import './../../../utils/variables.scss';

.chat__dialogue-wrapper {
  border-radius: 0.5rem;
  background: var(--color-white);
  padding: 0 1.5rem 1.5rem 1.5rem;
  height: 45dvh;
  overflow-y: scroll;
}
.dialogue__heading {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 0.75rem;
  background-color: var(--color-white);
  color: var(--color-green);
  font-weight: 600;
}
