@import './../../../utils/variables.scss';

.chat__dialogue-wrapper {
  border-radius: 0.5rem;
  background: var(--color-white);
  padding: 0 1.5rem 1.5rem 1.5rem;
  height: 45dvh;
  overflow-y: scroll;
}
.dialogue {
  &__heading {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-left: -1rem;
    display: flex;
    padding: 0.75rem;
    background-color: var(--color-white);
    color: var(--color-green);
    font-weight: 600;
  }
  &__start-message {
    font-style: italic;
    text-align: center;
    color: var(--color-grey);
    margin-top: 4rem;
  }
}
