.main {
  background-image: url("../../../../assets/images/cat-woman-big.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  @media (max-width: 1020px) {
    background-image: url("../../../../assets/images/cat-woman-medium.png");
  }

  &__container {
    width: fit-content;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  &__row-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }
}
