.main {
  background-image: url("/nonograms/assets/images/cat-woman-big.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @media (max-width: 1020px) {
    background-image: url("/nonograms/assets/images/cat-woman-medium.png");
  }
  @media (max-width: 500px) {
  }

  &__container {
    width: fit-content;
    margin: auto;
    padding-top: 5rem;
  }

  &__row-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
}
