@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/inter");
:root {
  --color-bg-body: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-backdrop: rgba(64, 63, 61, 0.8);
  --color-border-light: #c1b6ad;
  --color-border-dark: #665f55;
  --color-text-dark: #403f3d;
  --color-text-light: #e1d4c9;
  --color-text-accent: #b0907a;
  --margin-section: 6.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-body);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  padding: 1.25rem 2.5rem;
  color: var(--color-text-dark);
}
@media (max-width: 480px) {
  body {
    padding: 1.25rem 1rem;
  }
}
body .boby-wrapper {
  max-width: 85rem;
  margin: auto;
}

.hidden {
  display: none !important;
}

h1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
h1 span {
  color: var(--color-text-accent);
  font-style: italic;
}

h2 {
  font-size: 3.74rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 2.5625rem;
}
@media (max-width: 680px) {
  h2 {
    font-size: 2rem;
    line-height: 125%;
  }
}
h2 span {
  color: var(--color-text-accent);
  font-style: italic;
}

p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main {
  margin-bottom: 6.25rem;
}

.button {
  background: none;
  border: none;
}
.button a {
  display: flex;
  padding: 1.25rem 4.875rem;
  max-height: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid var(--border-dark, #665f55);
  background-color: var(--color-bg-body);
  transition: all 0.3s ease-out;
}
@media (hover: hover) and (min-width: 768px) {
  .button a:hover {
    background-color: var(--color-bg-container);
    color: var(--color-text-light);
  }
  .button a:hover svg path {
    transition: all 0.3s ease-out;
    fill: var(--color-text-light);
  }
}
.button a:active {
  background-color: var(--color-bg-container);
  color: var(--color-text-light);
}
.button a:active svg path {
  transition: all 0.3s ease-out;
  fill: var(--color-text-light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

nav {
  padding-bottom: 0.375rem;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-right: 2.5rem;
}
nav ul li:last-child {
  margin-right: 0rem;
}
nav ul li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
nav ul li a::after {
  content: "";
  height: 0.125rem;
  background-color: none;
  display: block;
  width: 0;
  transition: all 0.3s ease-out;
}
@media (hover: hover) and (min-width: 768px) {
  nav ul li a:hover::after {
    content: "";
    height: 0.125rem;
    background-color: var(--color-text-dark);
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
  }
}

.header-menu-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.375rem;
}
@media (max-width: 980px) {
  .header-menu-link {
    display: none;
  }
}
.header-menu-link:not(.active)::after {
  content: "";
  height: 0.125rem;
  background-color: none;
  display: block;
  width: 0;
  transition: all 0.3s ease-out;
  width: 0;
}
@media (hover: hover) and (min-width: 768px) {
  .header-menu-link:not(.active):hover::after {
    content: "";
    height: 0.125rem;
    background-color: var(--color-text-dark);
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
  }
}
.header-menu-link.active::after {
  content: "";
  height: 0.125rem;
  background-color: var(--color-text-dark);
  display: block;
  width: 100%;
  transition: all 0.3s ease-out;
}
.header-menu-link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-link a.active {
  pointer-events: none; /* делаем ссылку некликабельной */
  cursor: default; /* устанавливаем курсор в виде стрелки */
}
.header-menu-link__text {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

section {
  margin-bottom: 6.25rem;
}

.section_enjoy {
  background: url("../../images/home/img-hero.jpg") no-repeat center center;
  background-size: cover;
  padding: 6.25rem;
  border-radius: 40px;
}
@media (max-width: 980px) {
  .section_enjoy {
    padding: 6.25rem 3.75rem;
  }
}
@media (max-width: 480px) {
  .section_enjoy {
    padding: 3.75rem 1rem;
  }
}
.section_enjoy__wrapper {
  max-width: 33.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section_enjoy h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
  text-align: left;
  margin: 0;
  color: var(--color-text-light);
}
@media (max-width: 680px) {
  .section_enjoy h1 {
    font-size: 2.625rem;
    line-height: 115%;
  }
}
.section_enjoy p {
  color: var(--color-text-light);
}
.section_enjoy .button__text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.section_enjoy .button__icon {
  opacity: 0;
  width: 0px;
  height: 23px;
  display: block;
  transition: all 0.3s ease-out;
}
.section_enjoy .button a {
  width: calc(200px - 9.75rem);
  border: none;
}
@media (hover: hover) and (min-width: 768px) {
  .section_enjoy .button a:hover {
    background-color: var(--color-bg-body);
    color: inherit;
  }
  .section_enjoy .button a:hover .button__icon {
    opacity: 1;
    width: 23px;
    padding-left: 0.5rem;
  }
}
@media (max-width: 768px) {
  .section_enjoy .button a {
    background-color: var(--color-bg-body);
    color: inherit;
  }
  .section_enjoy .button a .button__icon {
    opacity: 1;
    width: 23px;
    padding-left: 0.5rem;
  }
}
.section_enjoy .button a:active {
  background-color: var(--color-bg-body);
  color: inherit;
}
.section_enjoy .button a:active .button__icon {
  opacity: 1;
  width: 23px;
  padding-left: 0.5rem;
}

.section_favorites-coffee h2 {
  text-align: center;
}

.section_mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.25rem;
}
@media (max-width: 1280px) {
  .section_mobile-app {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .section_mobile-app {
    align-items: normal;
    gap: 6.5rem;
  }
}
@media (max-width: 480px) {
  .section_mobile-app {
    gap: 2rem;
    margin-bottom: 7rem;
  }
}
@media (max-width: 980px) {
  .section_mobile-app img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
}
.section_mobile-app .buttons-row {
  display: flex;
  gap: 1.25rem;
  padding-top: 1.5rem;
}
@media (max-width: 480px) {
  .section_mobile-app .buttons-row {
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 1.375rem;
  }
}
.section_mobile-app .buttons-row .button a {
  padding: 1.25rem;
  width: 9.9rem;
  gap: 0.5rem;
  justify-content: flex-start;
}
.section_mobile-app .buttons-row .button__text {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: -moz-max-content;
  width: max-content;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.section_mobile-app .buttons-row .button__text span {
  font-size: 0.625rem;
  line-height: 140%;
}

footer {
  margin-top: -3px;
  background-color: var(--color-bg-container);
  border-radius: 2.5rem;
  padding: 6.25rem 6.25rem 5.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6.25rem;
}
@media (max-width: 1280px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 6.25rem 3.75rem 5.15rem;
    margin-top: -7px;
    gap: 5.25rem;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 3.75rem 1rem 2.625rem;
    gap: 1.5rem;
  }
}
footer h2 {
  display: flex;
  flex-direction: column;
  color: var(--color-text-light);
}
@media (max-width: 480px) {
  footer h2 {
    display: block;
  }
}
footer .section__collum {
  padding-right: 2.25rem;
}
@media (max-width: 1280px) {
  footer .section__collum {
    padding-right: 0;
  }
}
footer .contacts__title {
  color: var(--color-text-light);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 2.5rem;
}
footer .contacts__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1280px) {
  footer .contacts__list {
    gap: 0.9375rem;
  }
}
footer .contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .contacts__item::after {
  content: "";
  height: 0.125rem;
  background-color: none;
  display: block;
  width: 0;
  transition: all 0.3s ease-out;
}
@media (hover: hover) and (min-width: 768px) {
  footer .contacts__item:hover::after {
    content: "";
    height: 0.125rem;
    background-color: var(--color-text-light);
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
  }
}
footer .contacts__item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-text-light);
}
footer .contacts__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links__list {
  display: flex;
  padding: 0;
  gap: 0.75rem;
}
.social-links__item a {
  display: flex;
  width: 3.65rem;
  height: 3.65rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid var(--color-border-light);
  transition: all 0.3s ease-out;
}
@media (hover: hover) and (min-width: 768px) {
  .social-links__item a:hover {
    background-color: var(--color-bg-body);
  }
  .social-links__item a:hover path {
    stroke: var(--color-bg-container);
  }
}
.social-links__item a:active {
  background-color: var(--color-bg-body);
}
.social-links__item a:active path {
  stroke: var(--color-bg-container);
}/*# sourceMappingURL=main.css.map */