@import './../../utils/variables.scss';

.word {
  display: flex;
  height: calc(100% - 1px);
  border: 1px solid var(--color-grey-dark);
  background-color: var(--color-grey-light);
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  animation-name: smoothDisplay;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: 0;
  transition:
    background-color 1s,
    margin-left 0.5s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #a1a6cc;
    }
  }
  &:active {
    background: #a1a6cc;
  }
  &.move {
    margin-left: 1rem;
  }
}
@keyframes smoothDisplay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
