.form-wrapper {
  margin: 2rem 0;
}
.button_reset.button_green {
  margin-right: 2rem;
}
.tool-buttons {
  margin-bottom: 3rem;
}
.cars-counter {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.race-table {
  margin-bottom: 2rem;
}
