.form-wrapper {
  margin: 0 0 2rem 0;
}
.button_reset.button_green {
  margin-right: 2rem;
}
.tool-buttons {
  margin-bottom: 3rem;
}
.cars-counter {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.race-table {
  margin-bottom: 2rem;
}
.input__error {
  position: absolute;
  font-size: 0.75rem;
  bottom: -1.25rem;
  color: var(--color-red);
}
.download-massege {
  padding-left: 2.5rem;
  background: url('./../images/download.svg') no-repeat left center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.winner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-red);
  background: url('./../images/trophy-cup.svg') var(--color-white) no-repeat left 1rem center;
  background-size: auto;
  padding: 1rem 1rem 1rem 6rem;
  box-shadow: 13px 11px 1px #000;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
.page-counter {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
