.header {
  background: var(--white);
  border-bottom: 4px solid var(--black);

  &__container {
    max-width: var(--container-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 2rem;

    @media (max-width: 1050px) {
      justify-content: center;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .logo {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
