@import './../utils/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
  background: #e4e9e9;
  font-family: 'Sono', monospace;
  color: var(--color-grey-dark);
}

.main-content {
  padding: 2rem 1rem;
  max-width: 1080px;
  margin: auto;
  @media (max-width: 680px) {
    padding: 1rem;
  }
}
