:root {
  --size-5x5-box: 3rem;
  --size-10x10-box: 2.5rem;
  --size-15x15-box: 1.75rem;
  --size-10x10-box-mobile: 1.5rem;
  --size-15x15-box-mobile: 1.25rem;
}

.game {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 1rem 2.75rem 2.75rem;
  border: 1px solid var(--black);
  border-radius: 1.5rem;
  background: var(--white);
}
@media (max-width: 768px) {
  .game {
    padding: 1rem 2rem 2rem;
  }
}
.game__info-row {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.game__playfield {
  display: grid;
  grid-template-areas: "- top " "left main";
  justify-items: end;
  align-items: end;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 4px solid;
  border-color: var(--gray);
}
.game__hints {
  display: flex;
}
.game__hint {
  border-color: var(--gray);
}
.game__hints_top {
  grid-area: top;
  height: -moz-max-content;
  height: max-content;
  min-height: 6rem;
}
.game__hints_top .game__hint {
  flex-direction: column;
  border-left: 1px solid;
  padding-bottom: 0.5rem;
}
.game__hints_top .game__hint:first-child {
  border-left: 2px solid;
  border-color: var(--gray);
}
.game__hints_top .game__hint:nth-child(5n+1) {
  border-left: 2px solid;
  border-color: var(--gray);
}
.game__hints_top .game__num {
  margin-top: 0.5rem;
}
.game__hints_left {
  grid-area: left;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  min-width: 6rem;
}
.game__hints_left .game__hint {
  flex-direction: row;
  border-top: 1px solid;
  padding-right: 0.5rem;
}
.game__hints_left .game__hint:first-child {
  border-top: 2px solid;
}
.game__hints_left .game__hint:nth-child(5n+1) {
  border-top: 2px solid;
}
.game__hints_left .game__num {
  margin-left: 0.5rem;
}
.game__picture {
  grid-area: main;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 2px solid;
  border-top: 2px solid;
  border-color: var(--gray);
}
.game__row {
  display: flex;
  border-bottom: 1px solid;
  border-color: var(--gray);
}
.game__row:nth-child(5n) {
  border-bottom: 2px solid;
  border-color: var(--gray);
}
.game__row:last-child {
  border-bottom: none;
  border-color: var(--gray);
}
.game__hint {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.game__num {
  line-height: 1rem;
  margin: 0;
  font-weight: 500;
}
@media (max-width: 768px) {
  .game__num {
    font-size: 0.75rem;
  }
}
.game__box {
  border-left: 1px solid;
  border-color: var(--gray);
  cursor: pointer;
}
.game__box:nth-child(5n+1) {
  border-left: 2px solid;
  border-color: var(--gray);
}
.game__box:first-child {
  border-left: none;
  border-color: var(--gray);
}
.game__box.painted {
  background-color: var(--black);
}
.game__box.marked {
  background: url("../../../../assets/images/marked.svg") no-repeat center;
}
.game__info-row {
  display: flex;
  justify-content: space-between;
}
.game__name {
  text-transform: capitalize;
}

.dark-theme .game {
  background-color: var(--gray);
  border-color: var(--gray-light);
}
.dark-theme .game__picture {
  border-color: var(--gray-light);
}
.dark-theme .game__playfield {
  border-color: var(--gray-light);
}
.dark-theme .game__row {
  border-color: var(--gray-border-dark);
}
.dark-theme .game__box {
  border-color: var(--gray-border-dark);
}
.dark-theme .game__box.painted {
  background-color: var(--gray-light);
}
.dark-theme .game__box.marked {
  background: url("../../../../assets/images/marked-dark.svg") no-repeat center;
}
.dark-theme .game__hint {
  border-color: var(--gray-border-dark);
}

.game.size-5x5 .game__hints_top .game__hint {
  width: var(--size-5x5-box);
}
.game.size-5x5 .game__hints_left .game__hint {
  height: var(--size-5x5-box);
}
.game.size-5x5 .game__box {
  width: var(--size-5x5-box);
  height: var(--size-5x5-box);
}

.game.size-10x10 .game__hints_top .game__hint {
  width: var(--size-10x10-box);
}
.game.size-10x10 .game__hints_left .game__hint {
  height: var(--size-10x10-box);
}
.game.size-10x10 .game__box {
  width: var(--size-10x10-box);
  height: var(--size-10x10-box);
}
@media (max-width: 768px) {
  .game.size-10x10 .game__hints_top .game__hint {
    width: var(--size-10x10-box-mobile);
  }
  .game.size-10x10 .game__hints_left .game__hint {
    height: var(--size-10x10-box-mobile);
  }
  .game.size-10x10 .game__box {
    width: var(--size-10x10-box-mobile);
    height: var(--size-10x10-box-mobile);
  }
}

.game.size-15x15 .game__hints_top .game__hint {
  width: var(--size-15x15-box);
}
.game.size-15x15 .game__hints_left .game__hint {
  height: var(--size-15x15-box);
}
.game.size-15x15 .game__box {
  width: var(--size-15x15-box);
  height: var(--size-15x15-box);
}
@media (max-width: 768px) {
  .game.size-15x15 .game__hints_top .game__hint {
    width: var(--size-15x15-box-mobile);
  }
  .game.size-15x15 .game__hints_left .game__hint {
    height: var(--size-15x15-box-mobile);
  }
  .game.size-15x15 .game__box {
    width: var(--size-15x15-box-mobile);
    height: var(--size-15x15-box-mobile);
  }
}/*# sourceMappingURL=style.css.map */