:root {
  --color-white: #fefefe;
  --color-green: #a0bf3a;
  --color-green-secondary: #8aaa21;
  --color-blue: #3292d4;
  --color-blue-secondary: #287bb2;
  --color-yellow: #e9be0f;
  --color-yellow-secondary: #de9201;
  --color-grey-light: #eaeaec;
  --color-grey: #d1d3d6;
  --color-grey-dark: #545878;
  --color-red-main: #c9132e;
  --color-red-light: #ff4964;
  --color-red-dark: #ae011b;
  --color-cian: #3ea6cd;
  --color-black: #141414;
  --color-bg: #e4e9e9;
}
