@import './../../../utils/variables.scss';

.users-list {
  &__user {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      margin-left: 0.25rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 0.25rem;
    }
    &.online::after {
      background: var(--color-green);
      border: 1px solid var(--color-green);
    }
    &.offline::after {
      background: none;
      border: 1px solid var(--color-grey-dark);
    }
  }
}
