@import './../../../utils/variables.scss';

.users-list {
  border-radius: 0.5rem;
  background: var(--color-white);
  padding: 1rem 1.5rem 1.5rem 1.5rem;

  &::before {
    content: 'Contacts list:';
    margin-bottom: 1rem;
    display: block;
    color: var(--color-green);
    font-weight: 600;
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--color-yellow-secondary);
      }
    }

    &::after {
      content: '';
      display: block;
      margin-left: 0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 0.25rem;
    }
    &.online::after {
      background: var(--color-green);
      border: 1px solid var(--color-green);
    }
    &.offline::after {
      background: none;
      border: 1px solid var(--color-grey-dark);
    }
  }
  &__user-counter:not(.counter_zero) {
    display: block;
    min-width: 1rem;
    width: fit-content;
    padding: 0.125rem;
    background: var(--color-red-light);
    border-radius: 1rem;
    color: var(--color-white);
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    margin-left: 1rem;
  }
}
.current-partner {
  pointer-events: none;
  color: var(--color-yellow);
}
