.header__nav {
  @media (max-width: 768px) {
    display: none;
  }
}
.burger-menu__header-menu-link {
  @media (max-width: 768px) {
    display: flex;
  }
  .header-menu-link__text {
    margin-right: 0.75rem;
  }
}
.burger-menu {
  @media (min-width: 769px) {
    display: none;
  }
}
.boby-wrapper {
  @media (max-width: 768px) {
    overflow: hidden;
    height: max-content;
    position: relative;
  }
}
.burger-menu__ico {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  z-index: 3;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 6.25rem;
  border: 1px solid var(--color-border-dark);

  &-line {
    position: absolute;
    width: 1rem;
    height: 0.125rem;
    background-color: var(--color-border-dark);
    transition: transform 0.3s ease-out;
    top: 50%;
    &_one {
      transform: translateY(-0.25rem);
    }
    &_two {
      transform: translateY(0.25rem);
    }
  }
}

.burger-menu__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: -150vw;
  opacity: 0.3;
  width: 100%;
  background-color: var(--color-bg-body);
  height: calc(100dvh - 3.75rem - 5rem);
  padding: 3.75rem 2.5rem 0;
  align-items: center;
  gap: 5.25rem;
  transition: all 0.6s ease-out;
  z-index: 5;
  .header-menu-link {
    &__text {
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }
    &__icon svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  li {
    margin-right: 0;
    a {
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
  }
}
.burger-menu.active {
  .burger-menu__ico {
    &-line_one {
      transform: rotate(0.12turn);
    }
    &-line_two {
      transform: rotate(-0.12turn);
    }
  }
  .burger-menu__wrapper {
    right: -2.5rem;
    opacity: 1;
  }
}
.scroll-none {
  overflow: hidden;
}
