@mixin transition($property) {
  transition: $property 0.3s ease-out;
}
.image-gallery {
  display: grid;
  gap: 2.5rem;
  grid-template-areas:
    "A B"
    "A C"
    "A C"
    "D C"
    "D C";
  &__item {
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 41.25rem;
    img {
      transform: scale(1);
      transform-origin: bottom;
      @include transition(transform);
    }
    &:nth-child(1) {
      grid-area: A;
      overflow: hidden;
      max-height: 36.875rem;
      img {
      }
    }
    &:nth-child(2) {
      grid-area: B;
      max-height: 26.875rem;
      overflow: hidden;
      img {
      }
    }
    &:nth-child(3) {
      grid-area: D;
      max-height: 26.875rem;
      overflow: hidden;
      img {
      }
    }
    &:nth-child(4) {
      grid-area: C;
      overflow: hidden;
      max-height: 36.875rem;
      img {
      }
    }
    &:hover {
      img {
        transform: scale(0.95);
      }
    }
  }
}
