@import './../../utils/variables.scss';

@mixin field() {
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.page_game {
  min-height: 100vh;

  background-color: var(--color-grey-light);

  .page__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem);
    max-width: 63.5rem;
    margin: auto;

    header {
      padding: 2rem 0;
    }
  }
}

.logotype {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 10.5rem;
  height: 5.25rem;
  background-image: url('./../../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  min-height: 1rem;
  background-color: var(--color-grey-dark);
  display: flex;
  margin-top: 2rem;
}

.puzzle {
  width: 716px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__result-field {
    @include field();
    margin-bottom: 2rem;
    counter-reset: num;
  }

  &__source-field {
    @include field();
    display: flex;
  }

  &__result-row {
    position: relative;
    height: 2.875rem;
    display: flex;

    &::before {
      content: counter(num);
      counter-increment: num;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -3.5rem;
      color: var(--color-white);
      font-weight: 300;
      font-size: 18px;
      line-height: 100%;
      height: 100%;
      width: 3rem;
    }
  }
}
