.modal {
  &_continue {
    li {
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          font-weight: 600;
        }
      }
      &:active {
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
  &__games-list {
    max-height: 50dvh;
    overflow-y: scroll;
  }
}
