.modal {
  &_continue {
    li {
      line-height: 1.75rem;
      cursor: pointer;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          font-weight: 600;
        }
      }
      &:active {
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
