.button {
  background-color: var(--white);
  border-radius: 1.5rem;
  border: 1px solid var(--black);
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
  width: max-content;
  transition: all 0.3s ease-out;
  cursor: pointer;

  @media (max-width: 620px) {
    font-size: 1rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--gray);
      color: var(--white);
    }
  }
  &:active {
    background: var(--gray);
    color: var(--white);
  }
  &:disabled {
    color: var(--gray-light);
    border-color: var(--gray-light);
    pointer-events: none;
  }

  &_circle {
    width: 48px;
    height: 48px;
    background-size: contain;
    border: none;
    padding: 0;

    @media (max-width: 1100px) {
      width: 30px;
      height: 30px;
    }
  }

  &_theme {
    background: url(/nonograms/assets/images/theme.svg) no-repeat;
    background-size: contain;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: url(/nonograms/assets/images/theme-hover.svg) var(--gray)
          no-repeat;
        background-size: contain;
        color: inherit;
      }
    }
    &:active {
      background: url(/nonograms/assets/images/theme-hover.svg) var(--gray)
        no-repeat;
      background-size: contain;
      color: inherit;
    }
  }

  &_sound {
    background: url(/nonograms/assets/images/sound-on.svg) no-repeat;
    background-size: contain;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: url(/nonograms/assets/images/sound-on-hover.svg) var(--gray)
          no-repeat;
        background-size: contain;
        color: inherit;
      }
    }
    &:active {
      background: url(/nonograms/assets/images/sound-on-hover.svg) var(--gray)
        no-repeat;
      background-size: contain;
      color: inherit;
    }

    &.off {
      background: url(/nonograms/assets/images/sound-off.svg) no-repeat;
      background-size: contain;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: url(/nonograms/assets/images/sound-off-hover.svg)
            var(--gray) no-repeat;
          background-size: contain;
          color: inherit;
        }
      }
      &:active {
        background: url(/nonograms/assets/images/sound-off-hover.svg)
          var(--gray) no-repeat;
        background-size: contain;
        color: inherit;
      }
    }
  }
}

.dark-theme {
  .button {
    background-color: var(--gray-medium);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--gray);
        color: var(--gray-light);
      }
    }
    &:active {
      background: var(--gray);
      color: var(--gray-light);
    }
  }

  .button_theme {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: url(/nonograms/assets/images/theme-hover.svg)
          var(--gray-medium) no-repeat;
        background-size: contain;
        color: inherit;
      }
    }
    &:active {
      background: url(/nonograms/assets/images/theme-hover.svg)
        var(--gray-medium) no-repeat;
      background-size: contain;
      color: inherit;
    }
  }
}
